body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Poppins, "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

